.wrapper {
    list-style: none;
    margin-top: 150px;
}

.fpWrapper {
    border-radius: 15px;
}

#tabsWrapper {
    display: flex;
    width: 94%;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
    font-size: 22px;
}

#tabsWrapper > div {
    cursor: pointer;
}